
    <!--  Modal -->
    <div class="modal fade" id="productView" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content rounded-0 border-0">
          <div class="modal-body p-0 overflow-hidden shadow">
            <div class="row align-items-stretch">
              <div class="col-lg-6 p-lg-0 modal-product-img"><a class="glightbox product-view d-block h-100 bg-cover bg-center" style="background: url(../../../assets/images/product-5.5d8c02c5.jpg)" href="img/product-5.5d8c02c5.jpg" data-gallery="productview"></a><a class="glightbox product-view h-100 bg-cover bg-center d-none" href="img/product-5-alt-1.2317c566.jpg" data-gallery="productview"></a><a class="glightbox product-view h-100 bg-cover bg-center d-none" href="img/product-5-alt-2.500c9984.jpg" data-gallery="productview"></a></div>
              <div class="col-lg-6">
                <button class="close modal-close p-4 border-0" type="button" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">
                    <svg class="svg-icon text-white mt-1">
                      <use xlink:href="#close-1"> </use>
                    </svg></span></button>
                <div class="p-5 my-md-4">
                  <ul class="list-inline mb-2">
                    <li class="list-inline-item m-0"><i class="fas fa-star small text-warning"></i></li>
                    <li class="list-inline-item m-0"><i class="fas fa-star small text-warning"></i></li>
                    <li class="list-inline-item m-0"><i class="fas fa-star small text-warning"></i></li>
                    <li class="list-inline-item m-0"><i class="fas fa-star small text-warning"></i></li>
                    <li class="list-inline-item m-0"><i class="fas fa-star small text-warning"></i></li>
                  </ul>
                  <h2 class="h5 text-uppercase">Kui Ye Chen’s AirPods</h2>
                  <p class="text-muted">$250</p>
                  <p class="text-small mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut ullamcorper leo, eget euismod orci. Cum sociis natoque penatibus et magnis dis parturient montes nascetur ridiculus mus. Vestibulum ultricies aliquam convallis.</p>
                  <ul class="list-inline mb-4">
                    <li class="list-inline-item me-3"><strong>Quantity</strong></li>
                    <li class="list-inline-item">
                      <div class="border d-flex align-items-center justify-content-between p-1">
                        <div class="quantity py-0">
                          <button class="dec-btn p-0" onclick="decrease(this)"><i class="fas fa-caret-left"></i></button>
                          <input class="form-control border-0 shadow-0 p-0 quantity-result" type="text" value="1">
                          <button class="inc-btn p-0" onclick="increase(this)"><i class="fas fa-caret-right"></i></button>
                        </div>
                      </div>
                    </li>
                    <li class="list-inline-item"><a class="btn btn-dark" href="cart.html"> 
                        <svg class="svg-icon text-white me-2 svg-icon-md me-2 pe-1">
                          <use xlink:href="#shopping-bag-1"> </use>
                        </svg>Add to cart</a></li>
                  </ul><a class="p-0 reset-anchor" href="#"><i class="far fa-heart me-2"></i>Add to wish list</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Hero slider-->
    <section>
      <div class="swiper-container" id="hero-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide hero bg-center bg-cover d-flex align-items-center" style="background: url(../../../assets/images/bg-banner-1.db0a9631.jpg)">
            <div class="container">
              <div class="row text-lg-center">
                <div class="col-lg-8">
                  <p class="h6 text-uppercase text-muted mb-3">Summer 2020</p>
                  <h1 class="hero-heading line-height-sm mb-2 title" data-swiper-parallax="-200">Fashion Collections</h1>
                  <div class="row">
                    <div class="col-lg-5 mx-auto">
                      <p class="font-weight-light text-muted mb-4 mt-3 subtitle" data-swiper-parallax="-400">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                    </div>
                  </div><a class="btn btn-primary text" href="shop.html" data-swiper-parallax="-600"> <i class="fas fa-shopping-bag me-2"></i>Shop now</a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide hero bg-center bg-cover d-flex align-items-center" style="background: url(../../../assets/images//bg-banner.f561f8e8.jpg)">
            <div class="container">
              <div class="row text-lg-center">
                <div class="col-lg-8">
                  <p class="h6 text-uppercase text-muted mb-3">Summer 2020</p>
                  <h1 class="hero-heading line-height-sm mb-2 title" data-swiper-parallax="-200">New Watches</h1>
                  <div class="row">
                    <div class="col-lg-5 mx-auto">
                      <p class="font-weight-light text-muted mb-4 mt-3 subtitle" data-swiper-parallax="-400">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                    </div>
                  </div><a class="btn btn-primary text" href="shop.html" data-swiper-parallax="-600"> <i class="fas fa-shopping-bag me-2"></i>Shop now</a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide hero bg-center bg-cover d-flex align-items-center" style="background: url(../../../assets/images//bg-banner-2.d0671937.jpg)">
            <div class="container">
              <div class="row text-lg-center">
                <div class="col-lg-8">
                  <p class="h6 text-uppercase text-muted mb-3">Summer 2020</p>
                  <h1 class="hero-heading line-height-sm mb-2 title" data-swiper-parallax="-200">Shoes brands</h1>
                  <div class="row">
                    <div class="col-lg-5 mx-auto">
                      <p class="font-weight-light text-muted mb-4 mt-3 subtitle" data-swiper-parallax="-400">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                    </div>
                  </div><a class="btn btn-primary text" href="shop.html" data-swiper-parallax="-600"> <i class="fas fa-shopping-bag me-2"></i>Shop now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-pagination px-4 py-2 text-end h5 font-weight-light"></div>
      </div>
    </section>
    <!-- New arrivals-->
    <section class="py-5">
      <div class="container py-5">
        <header class="mb-3 text-center">
          <h2 class="mb-0">New arrivals</h2>
          <p class="text-muted">Browse the Newest Products</p>
        </header>
        <div class="swiper-container pt-5" id="newArrivals">
          <div class="swiper-wrapper">
            <div class="swiper-slide pb-5">
              <div class="product mb-4"><span class="badge rounded-0 bg-primary">New Arrival</span><a href="detail.html"><img class="img-fluid" src="../../../assets/images/product-1.ea13b77a.jpg" alt="Round grey hanging decor"></a>
                <div class="cta shadow d-inline-block"><a class="product-btn" href="#"><i class="fas fa-heart"></i></a><a class="product-btn" href="#productView" data-bs-toggle="modal"><i class="fas fa-expand"></i></a><a class="product-btn" href="cart.html"><i class="fas fa-dolly-flatbed"></i></a></div>
              </div>
              <h6 class="text-center"><a class="reset-anchor" href="detail.html">Round grey hanging decor</a></h6>
              <p class="text-center text-muted font-weight-bold">$22.00</p>
            </div>
            <div class="swiper-slide pb-5">
              <div class="product mb-4"><span class="badge rounded-0 bg-"></span><a href="detail.html"><img class="img-fluid" src="../../../assets/images/product-2.207aaf3b.jpg" alt="silver black round Ipod"></a>
                <div class="cta shadow d-inline-block"><a class="product-btn" href="#"><i class="fas fa-heart"></i></a><a class="product-btn" href="#productView" data-bs-toggle="modal"><i class="fas fa-expand"></i></a><a class="product-btn" href="cart.html"><i class="fas fa-dolly-flatbed"></i></a></div>
              </div>
              <h6 class="text-center"><a class="reset-anchor" href="detail.html">silver black round Ipod</a></h6>
              <p class="text-center text-muted font-weight-bold">$22.00</p>
            </div>
            <div class="swiper-slide pb-5">
              <div class="product mb-4"><span class="badge rounded-0 bg-info">Trending</span><a href="detail.html"><img class="img-fluid" src="../../../assets/images/product-3.fc009d76.jpg" alt="White USB cable"></a>
                <div class="cta shadow d-inline-block"><a class="product-btn" href="#"><i class="fas fa-heart"></i></a><a class="product-btn" href="#productView" data-bs-toggle="modal"><i class="fas fa-expand"></i></a><a class="product-btn" href="cart.html"><i class="fas fa-dolly-flatbed"></i></a></div>
              </div>
              <h6 class="text-center"><a class="reset-anchor" href="detail.html">White USB cable</a></h6>
              <p class="text-center text-muted font-weight-bold">$22.00</p>
            </div>
            <div class="swiper-slide pb-5">
              <div class="product mb-4"><span class="badge rounded-0 bg-"></span><a href="detail.html"><img class="img-fluid" src="../../../assets/images/product-4.c3ff8a44.jpg" alt="Sony PS 4 game controller"></a>
                <div class="cta shadow d-inline-block"><a class="product-btn" href="#"><i class="fas fa-heart"></i></a><a class="product-btn" href="#productView" data-bs-toggle="modal"><i class="fas fa-expand"></i></a><a class="product-btn" href="cart.html"><i class="fas fa-dolly-flatbed"></i></a></div>
              </div>
              <h6 class="text-center"><a class="reset-anchor" href="detail.html">Sony PS 4 game controller</a></h6>
              <p class="text-center text-muted font-weight-bold">$22.00</p>
            </div>
            <div class="swiper-slide pb-5">
              <div class="product mb-4"><span class="badge rounded-0 bg-"></span><a href="detail.html"><img class="img-fluid" src="../../../assets/images/product-5.5d8c02c5.jpg" alt="Kui Ye Chen’s AirPods"></a>
                <div class="cta shadow d-inline-block"><a class="product-btn" href="#"><i class="fas fa-heart"></i></a><a class="product-btn" href="#productView" data-bs-toggle="modal"><i class="fas fa-expand"></i></a><a class="product-btn" href="cart.html"><i class="fas fa-dolly-flatbed"></i></a></div>
              </div>
              <h6 class="text-center"><a class="reset-anchor" href="detail.html">Kui Ye Chen’s AirPods</a></h6>
              <p class="text-center text-muted font-weight-bold">$22.00</p>
            </div>
            <div class="swiper-slide pb-5">
              <div class="product mb-4"><span class="badge rounded-0 bg-warning">Hot</span><a href="detail.html"><img class="img-fluid" src="../../../assets/images/product-6.82c4cac8.jpg" alt="Black camera lens"></a>
                <div class="cta shadow d-inline-block"><a class="product-btn" href="#"><i class="fas fa-heart"></i></a><a class="product-btn" href="#productView" data-bs-toggle="modal"><i class="fas fa-expand"></i></a><a class="product-btn" href="cart.html"><i class="fas fa-dolly-flatbed"></i></a></div>
              </div>
              <h6 class="text-center"><a class="reset-anchor" href="detail.html">Black camera lens</a></h6>
              <p class="text-center text-muted font-weight-bold">$22.00</p>
            </div>
            <div class="swiper-slide pb-5">
              <div class="product mb-4"><span class="badge rounded-0 bg-"></span><a href="detail.html"><img class="img-fluid" src="../../../assets/images/product-7.be376c2d.jpg" alt="Apple wireless keyboard"></a>
                <div class="cta shadow d-inline-block"><a class="product-btn" href="#"><i class="fas fa-heart"></i></a><a class="product-btn" href="#productView" data-bs-toggle="modal"><i class="fas fa-expand"></i></a><a class="product-btn" href="cart.html"><i class="fas fa-dolly-flatbed"></i></a></div>
              </div>
              <h6 class="text-center"><a class="reset-anchor" href="detail.html">Apple wireless keyboard</a></h6>
              <p class="text-center text-muted font-weight-bold">$22.00</p>
            </div>
            <div class="swiper-slide pb-5">
              <div class="product mb-4"><span class="badge rounded-0 bg-danger">Soldout</span><a href="detail.html"><img class="img-fluid" src="../../../assets/images/product-8.88684cc3.jpg" alt="Black Canon EOS camera"></a>
                <div class="cta shadow d-inline-block"><a class="product-btn" href="#"><i class="fas fa-heart"></i></a><a class="product-btn" href="#productView" data-bs-toggle="modal"><i class="fas fa-expand"></i></a><a class="product-btn" href="cart.html"><i class="fas fa-dolly-flatbed"></i></a></div>
              </div>
              <h6 class="text-center"><a class="reset-anchor" href="detail.html">Black Canon EOS camera</a></h6>
              <p class="text-center text-muted font-weight-bold">$22.00</p>
            </div>
            <div class="swiper-slide pb-5">
              <div class="product mb-4"><span class="badge rounded-0 bg-primary">New Arrival</span><a href="detail.html"><img class="img-fluid" src="../../../assets/images/product-9.7bc0d11d.jpg" alt="Silver round analog watch"></a>
                <div class="cta shadow d-inline-block"><a class="product-btn" href="#"><i class="fas fa-heart"></i></a><a class="product-btn" href="#productView" data-bs-toggle="modal"><i class="fas fa-expand"></i></a><a class="product-btn" href="cart.html"><i class="fas fa-dolly-flatbed"></i></a></div>
              </div>
              <h6 class="text-center"><a class="reset-anchor" href="detail.html">Silver round analog watch</a></h6>
              <p class="text-center text-muted font-weight-bold">$22.00</p>
            </div>
          </div>
          <div class="swiper-button-prev px-3 py-2">
            <svg class="svg-icon svg-icon-md">
              <use xlink:href="#arrow-left-1"> </use>
            </svg>Prev
          </div>
          <div class="swiper-button-next px-3 py-2">
                       Next
            <svg class="svg-icon svg-icon-md">
              <use xlink:href="#arrow-right-1"> </use>
            </svg>
          </div>
        </div>
      </div>
    </section>
    <!-- Divider section-->
    <section class="py-5 bg-center bg-cover" style="background: url(../../../assets/images/divider-bg.0d7f8f0b.jpg)">
      <div class="container py-5">
        <div class="row">
          <div class="col-lg-6 ms-auto">
            <h2 class="hero-heading">New watches collections</h2>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><a class="btn btn-primary" href="#"> <i class="fas fa-shopping-bag-mr-2"></i>Shop now</a>
          </div>
        </div>
      </div>
    </section>
    <!-- Featured products-->
    <section class="py-5">
      <div class="container py-5">
        <header class="mb-3 text-center">
          <h2 class="mb-0">Featured products</h2>
          <p class="text-muted">Browse the Newest Products</p>
        </header>
        <div class="swiper-container pt-5" id="featuredProducts">
          <div class="swiper-wrapper">
            <!-- Product-->
            <div class="swiper-slide pb-5">
              <div class="product mb-4"><span class="badge rounded-0 bg-danger">Soldout</span><a href="detail.html"><img class="img-fluid" src="../../../assets/images/product-8.88684cc3.jpg" alt="Black Canon EOS camera"></a>
                <div class="cta shadow d-inline-block"><a class="product-btn" href="#"><i class="fas fa-heart"></i></a><a class="product-btn" href="#productView" data-bs-toggle="modal"><i class="fas fa-expand"></i></a><a class="product-btn" href="cart.html"><i class="fas fa-dolly-flatbed"></i></a></div>
              </div>
              <h6 class="text-center"><a class="reset-anchor" href="detail.html">Black Canon EOS camera</a></h6>
              <p class="text-center text-muted font-weight-bold">$22.00</p>
            </div>
            <!-- Product-->
            <div class="swiper-slide pb-5">
              <div class="product mb-4"><span class="badge rounded-0 bg-primary">New Arrival</span><a href="detail.html"><img class="img-fluid" src="../../../assets/images/product-9.7bc0d11d.jpg" alt="Silver round analog watch"></a>
                <div class="cta shadow d-inline-block"><a class="product-btn" href="#"><i class="fas fa-heart"></i></a><a class="product-btn" href="#productView" data-bs-toggle="modal"><i class="fas fa-expand"></i></a><a class="product-btn" href="cart.html"><i class="fas fa-dolly-flatbed"></i></a></div>
              </div>
              <h6 class="text-center"><a class="reset-anchor" href="detail.html">Silver round analog watch</a></h6>
              <p class="text-center text-muted font-weight-bold">$22.00</p>
            </div>
            <!-- Product-->
            <div class="swiper-slide pb-5">
              <div class="product mb-4"><span class="badge rounded-0 bg-"></span><a href="detail.html"><img class="img-fluid" src="../../../assets/images/product-10.d7432880.jpg" alt="Apple Watch"></a>
                <div class="cta shadow d-inline-block"><a class="product-btn" href="#"><i class="fas fa-heart"></i></a><a class="product-btn" href="#productView" data-bs-toggle="modal"><i class="fas fa-expand"></i></a><a class="product-btn" href="cart.html"><i class="fas fa-dolly-flatbed"></i></a></div>
              </div>
              <h6 class="text-center"><a class="reset-anchor" href="detail.html">Apple Watch</a></h6>
              <p class="text-center text-muted font-weight-bold">$22.00</p>
            </div>
            <!-- Product-->
            <div class="swiper-slide pb-5">
              <div class="product mb-4"><span class="badge rounded-0 bg-info">Trending</span><a href="detail.html"><img class="img-fluid" src="../../../assets/images/product-11.1f4b5e9b.jpg" alt="Joemalone Women prefume"></a>
                <div class="cta shadow d-inline-block"><a class="product-btn" href="#"><i class="fas fa-heart"></i></a><a class="product-btn" href="#productView" data-bs-toggle="modal"><i class="fas fa-expand"></i></a><a class="product-btn" href="cart.html"><i class="fas fa-dolly-flatbed"></i></a></div>
              </div>
              <h6 class="text-center"><a class="reset-anchor" href="detail.html">Joemalone Women prefume</a></h6>
              <p class="text-center text-muted font-weight-bold">$22.00</p>
            </div>
            <!-- Product-->
            <div class="swiper-slide pb-5">
              <div class="product mb-4"><span class="badge rounded-0 bg-"></span><a href="detail.html"><img class="img-fluid" src="../../../assets/images/product-12.c4210d28.jpg" alt="Nike air max 95"></a>
                <div class="cta shadow d-inline-block"><a class="product-btn" href="#"><i class="fas fa-heart"></i></a><a class="product-btn" href="#productView" data-bs-toggle="modal"><i class="fas fa-expand"></i></a><a class="product-btn" href="cart.html"><i class="fas fa-dolly-flatbed"></i></a></div>
              </div>
              <h6 class="text-center"><a class="reset-anchor" href="detail.html">Nike air max 95</a></h6>
              <p class="text-center text-muted font-weight-bold">$22.00</p>
            </div>
            <!-- Product-->
            <div class="swiper-slide pb-5">
              <div class="product mb-4"><span class="badge rounded-0 bg-danger">Soldout</span><a href="detail.html"><img class="img-fluid" src="../../../assets/images/product-13.aff049a7.jpg" alt="Red digital smartwatch"></a>
                <div class="cta shadow d-inline-block"><a class="product-btn" href="#"><i class="fas fa-heart"></i></a><a class="product-btn" href="#productView" data-bs-toggle="modal"><i class="fas fa-expand"></i></a><a class="product-btn" href="cart.html"><i class="fas fa-dolly-flatbed"></i></a></div>
              </div>
              <h6 class="text-center"><a class="reset-anchor" href="detail.html">Red digital smartwatch</a></h6>
              <p class="text-center text-muted font-weight-bold">$22.00</p>
            </div>
            <!-- Product-->
            <div class="swiper-slide pb-5">
              <div class="product mb-4"><span class="badge rounded-0 bg-"></span><a href="detail.html"><img class="img-fluid" src="../../../assets/images/product-14.1adefbd6.jpg" alt="Air Jordan 12 gym red"></a>
                <div class="cta shadow d-inline-block"><a class="product-btn" href="#"><i class="fas fa-heart"></i></a><a class="product-btn" href="#productView" data-bs-toggle="modal"><i class="fas fa-expand"></i></a><a class="product-btn" href="cart.html"><i class="fas fa-dolly-flatbed"></i></a></div>
              </div>
              <h6 class="text-center"><a class="reset-anchor" href="detail.html">Air Jordan 12 gym red</a></h6>
              <p class="text-center text-muted font-weight-bold">$22.00</p>
            </div>
            <!-- Product-->
            <div class="swiper-slide pb-5">
              <div class="product mb-4"><span class="badge rounded-0 bg-warning">Hot</span><a href="detail.html"><img class="img-fluid" src="../../../assets/images/product-15.37a0a89c.jpg" alt="Kui Ye Chen’s AirPods"></a>
                <div class="cta shadow d-inline-block"><a class="product-btn" href="#"><i class="fas fa-heart"></i></a><a class="product-btn" href="#productView" data-bs-toggle="modal"><i class="fas fa-expand"></i></a><a class="product-btn" href="cart.html"><i class="fas fa-dolly-flatbed"></i></a></div>
              </div>
              <h6 class="text-center"><a class="reset-anchor" href="detail.html">Kui Ye Chen’s AirPods</a></h6>
              <p class="text-center text-muted font-weight-bold">$22.00</p>
            </div>
            <!-- Product-->
            <div class="swiper-slide pb-5">
              <div class="product mb-4"><span class="badge rounded-0 bg-"></span><a href="detail.html"><img class="img-fluid" src="../../../assets/images/product-10.d7432880.jpg" alt="Apple watch"></a>
                <div class="cta shadow d-inline-block"><a class="product-btn" href="#"><i class="fas fa-heart"></i></a><a class="product-btn" href="#productView" data-bs-toggle="modal"><i class="fas fa-expand"></i></a><a class="product-btn" href="cart.html"><i class="fas fa-dolly-flatbed"></i></a></div>
              </div>
              <h6 class="text-center"><a class="reset-anchor" href="detail.html">Apple watch</a></h6>
              <p class="text-center text-muted font-weight-bold">$22.00</p>
            </div>
          </div>
          <div class="swiper-button-prev px-3 py-2">
            <svg class="svg-icon svg-icon-md">
              <use xlink:href="#arrow-left-1"> </use>
            </svg>Prev
          </div>
          <div class="swiper-button-next px-3 py-2">
                       Next
            <svg class="svg-icon svg-icon-md">
              <use xlink:href="#arrow-right-1"> </use>
            </svg>
          </div>
        </div>
      </div>
    </section>
    <!-- Newsletter section-->
    <section class="pb-5">
      <div class="container p-5 bg-light">
        <div class="row align-items-center">
          <div class="col-lg-6 mb-4 mb-lg-0">           
            <h3>Get <span class="text-primary">50% </span>off discount</h3>
            <p class="text-small text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
          <div class="col-lg-6">
            <form action="#">
              <div class="input-group">
                <input class="form-control rounded-0" type="text" placeholder="Enter your email address" aria-label="Enter your email address" aria-describedby="button-addon2">
                <button class="btn btn-primary" id="button-addon2" type="button">Subscribe</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- Features-->
    <section>
      <div class="container pb-5">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="d-flex align-items-center p-4 w-100">
              <svg class="svg-icon text-primary">
                <use xlink:href="#delivery-time-1"> </use>
              </svg>
              <div class="ms-3">
                <h6 class="mb-1 text-uppercase">Free shipping </h6>
                <p class="small text-muted mb-0">For all orders over $99</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="d-flex align-items-center p-4 w-100">
              <svg class="svg-icon text-primary">
                <use xlink:href="#pay-1"> </use>
              </svg>
              <div class="ms-3">
                <h6 class="mb-1 text-uppercase">30 days return </h6>
                <p class="small text-muted mb-0">If goods have problems</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="d-flex align-items-center p-4 w-100">
              <svg class="svg-icon text-primary">
                <use xlink:href="#credit-card-1"> </use>
              </svg>
              <div class="ms-3">
                <h6 class="mb-1 text-uppercase">Secure payment </h6>
                <p class="small text-muted mb-0">100% secure payment</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="d-flex align-items-center p-4 w-100">
              <svg class="svg-icon text-primary">
                <use xlink:href="#helpline-24h-1"> </use>
              </svg>
              <div class="ms-3">
                <h6 class="mb-1 text-uppercase">24/7 support </h6>
                <p class="small text-muted mb-0">Dedicated support</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
   
