
<div class="container">
    <table class="table  table-striped  table-hover">
        <thead>
            <tr>
                <th scope="col">Order</th>
                <th scope="col">Date</th>
                <th scope="col">Total</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let order of orders" routerLink="/order/{{order.id}}">
                <th># {{order.id}}</th>
                <td>{{order.orderDate | date: 'medium'}}</td>
                <td>{{order.total | currency}}</td>
                <td>{{order.status}}</td>
            </tr>
        </tbody>
    
    </table>
</div>

