<section *ngIf="product!==undefined" class="py-5">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="row">
          <div class="row">
            <div class="col-2 order-2 order-md-1">
              <!-- Slider thumbnails-->
              <div class="swiper-container swiper-thumbnails" id="detailSliderThumb">
                <div *ngFor="let picture of product.picture" class="swiper-wrapper">
                  <div class="swiper-slide"><img class="img-fluid" src="{{picture.pictureUrl}}"
                      (click)="changePicture(picture.pictureUrl)" alt=".."></div>

                </div>
              </div>
            </div>
            <div class="col-10 order-1 order-md-2 mb-4 mb-lg-0">
              <!-- Item slider-->
              <div class="swiper-container" id="detailSlider">
                <div class="swiper-wrapper">
                  <div class="swiper-slide"><a class="glightbox" href={{pictureToShow}}><img class="img-fluid"
                        src={{pictureToShow}} alt=".."></a></div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Item info-->
      <div class="col-lg-6">
        <div class="badge bg-info small rounded-0 mb-2">Trending</div>
        <h1>{{product.name}}</h1>
        <div class="d-flex align-items-center">
          <ul class="list-inline mb-2 me-3 small">
            <li class="list-inline-item m-0"><i class="fas fa-star small text-warning"></i></li>
            <li class="list-inline-item m-0"><i class="fas fa-star small text-warning"></i></li>
            <li class="list-inline-item m-0"><i class="fas fa-star small text-warning"></i></li>
            <li class="list-inline-item m-0"><i class="fas fa-star small text-warning"></i></li>
            <li class="list-inline-item m-0"><i class="fas fa-star small text-muted"></i></li>
          </ul>
          <p class="small text-muted mb-2">12 customer reviews</p>
        </div>
        <p class="h4">Rs. {{product.price}}</p>
        <p class="text-small mb-4">{{product.description}}</p>


        <div class="d-flex align-items-center mb-4">
          <div class="border d-flex align-items-center justify-content-between p-1 me-2">
            <div class="quantity py-0">
              <button class="dec-btn p-0" (click)="onDecrement()"><i class="fas fa-caret-left"></i></button>
              <input class="form-control border-0 shadow-0 p-0 quantity-result" type="text" value="{{quantity}}">
              <button class="inc-btn p-0" (click)="onIncrement()"><i class="fas fa-caret-right"></i></button>
            </div>
          </div><a (click)="addItemToCart()" class="btn btn-primary btn-sm py-2 border-bottom-0 px-5 me-3"> <i
              class="fas fa-shopping-bag py-1 me-2"></i>Add to cart</a><a class="p-0 reset-anchor d-inline-block mx-2"
            href="#">
            <!-- <i class="fas fa-heart"></i></a><a class="p-0 reset-anchor d-inline-block mx-2" href="#">
            <i class="fas fa-share-alt"></i> -->
          </a>
        </div><br>
        <ul class="list-unstyled small d-inline-block">
          <li class="px-3 py-2 mb-1 bg-light"><strong class="text-uppercase">SKU</strong><span
              class="ms-2 text-muted">{{product.id}}</span></li>
          <li class="px-3 py-2 mb-1 bg-light text-muted"><strong class="text-uppercase text-dark">Category:</strong><a
              class="reset-anchor ms-2">{{product.productType}}</a></li>
          <li class="px-3 py-2 mb-1 bg-light text-muted"><strong class="text-uppercase text-dark">Brand:</strong><a
              class="reset-anchor ms-2" href="#">{{product.productBrand}}</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section *ngIf="product!==undefined" class="pb-5">
  <div class="container">
    <div class="row">
      <!-- Item information-->
      <div class="col-xl-10 mx-auto">
        <ul class="nav nav-tabs tabs-fill justify-content-center border-0 flex-column flex-md-row" id="myTab"
          role="tablist">
          <li class="nav-item flex-fill text-center bg-light mx-2" role="presentation"><a
              class="nav-link text-small fw-bold py-3 border-0 active" id="description-tab" data-bs-toggle="tab"
              href="#description" role="tab" aria-controls="description" aria-selected="true">Description</a></li>
          <li class="nav-item flex-fill text-center bg-light mx-2" role="presentation"><a
              class="nav-link text-small fw-bold py-3 border-0" id="info-tab" data-bs-toggle="tab" href="#info"
              role="tab" aria-controls="info" aria-selected="false">Additional info</a></li>
          <li class="nav-item flex-fill text-center bg-light mx-2" role="presentation"><a
              class="nav-link text-small fw-bold py-3 border-0" id="reviews-tab" data-bs-toggle="tab" href="#reviews"
              role="tab" aria-controls="reviews" aria-selected="false">Reviews</a></li>
          <li class="nav-item flex-fill text-center bg-light mx-2" role="presentation"><a
              class="nav-link text-small fw-bold py-3 border-0" id="shipping-tab" data-bs-toggle="tab" href="#shipping"
              role="tab" aria-controls="shipping" aria-selected="false">Shipping &amp; Returns</a></li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
            <div class="p-3 p-md-5">
              <p class="text-muted mb-4">{{product.description}}</p>

              <div class="row align-items-center mb-4">
                <div *ngFor="let picture of product.picture" class="col-lg-4 mb-4 mb-lg-0"><img class="img-fluid"
                    src="{{picture.pictureUrl}}" alt=".."></div>

              </div>

            </div>
          </div>
          <div class="tab-pane fade" id="info" role="tabpanel" aria-labelledby="info-tab">
            <div class="p-3 p-md-5">
              <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
                in culpa qui officia deserunt mollit anim id est laborum.</p>
              <div class="row">
                <div class="col-lg-6">
                  <table class="table table-bordered">
                    <tbody>
                      <tr>
                        <th class="small px-3">Brand:</th>
                        <td class="small px-3">Other</td>
                      </tr>
                      <tr>
                        <th class="small px-3">RAM Size:</th>
                        <td class="small px-3">512</td>
                      </tr>
                      <tr>
                        <th class="small px-3">Package thickness:</th>
                        <td class="small px-3">17 centimeters</td>
                      </tr>
                      <tr>
                        <th class="small px-3">Package weight:</th>
                        <td class="small px-3">42 grams</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
            <div class="p-3 p-md-5">
              <p class="small text-muted mb-1">Based on 12 customers</p>
              <h5 class="mb-4">How customers reviewed this item</h5>
              <div class="row">
                <div class="col-lg-6">
                  <div class="d-flex mb-4"><img class="rounded-circle p-1 shadow-sm flex-grow-1 align-self-baseline"
                      src="../../../../assets/images/client-1.2821b67d.jpg" alt="..." width="60">
                    <div class="ms-3">
                      <h3 class="h6 mb-0">Patrick Wood</h3>
                      <p class="text-gray small mb-0">15 Mar 2019</p>
                      <ul class="list-inline mb-3">
                        <li class="list-inline-item small m-0"><i class="fas fa-star text-primary small"></i></li>
                        <li class="list-inline-item small m-0"><i class="fas fa-star text-primary small"></i></li>
                        <li class="list-inline-item small m-0"><i class="fas fa-star text-primary small"></i></li>
                        <li class="list-inline-item small m-0"><i class="fas fa-star text-primary small"></i></li>
                        <li class="list-inline-item small m-0"><i class="fas fa-star text-primary small"></i></li>
                      </ul>
                      <p class="text-small text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                        nostrud exercitation.</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="d-flex mb-4"><img class="rounded-circle p-1 shadow-sm flex-grow-1 align-self-baseline"
                      src="../../../../assets/images/client-2.f8d832d9.jpg" alt="..." width="60">
                    <div class="ms-3">
                      <h3 class="h6 mb-0">Melissa Johanson</h3>
                      <p class="text-gray small mb-0">15 Mar 2019</p>
                      <ul class="list-inline mb-3">
                        <li class="list-inline-item small m-0"><i class="fas fa-star text-primary small"></i></li>
                        <li class="list-inline-item small m-0"><i class="fas fa-star text-primary small"></i></li>
                        <li class="list-inline-item small m-0"><i class="fas fa-star text-primary small"></i></li>
                        <li class="list-inline-item small m-0"><i class="fas fa-star text-primary small"></i></li>
                        <li class="list-inline-item small m-0"><i class="fas fa-star text-primary small"></i></li>
                      </ul>
                      <p class="text-small text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                        nostrud exercitation.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="shipping" role="tabpanel" aria-labelledby="shipping-tab">
            <div class="p-3 p-md-5">
              <h6>Returns Policy</h6>
              <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eros justo, accumsan
                non dui sit amet. Phasellus semper volutpat mi sed imperdiet. Ut odio lectus, vulputate non ex non,
                mattis sollicitudin purus. Mauris consequat justo a enim interdum, in consequat dolor accumsan. Nulla
                iaculis diam purus, ut vehicula leo efficitur at.</p>
              <p class="text-muted mb-5">Interdum et malesuada fames ac ante ipsum primis in faucibus. In blandit nunc
                enim, sit amet pharetra erat aliquet ac.</p>
              <h6>Shipping</h6>
              <p class="text-muted">Pellentesque ultrices ut sem sit amet lacinia. Sed nisi dui, ultrices ut turpis
                pulvinar. Sed fringilla ex eget lorem consectetur, consectetur blandit lacus varius. Duis vel
                scelerisque elit, et vestibulum metus. Integer sit amet tincidunt tortor. Ut lacinia ullamcorper massa,
                a fermentum arcu vehicula ut. Ut efficitur faucibus dui Nullam tristique dolor eget turpis consequat
                varius. Quisque a interdum augue. Nam ut nibh mauris.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>