<section class="py-1 ">
  <div class="container py-5">
    <div class="row">

      <div class="row mt-0 p-0 mb-0">

        <div class="col-lg-4">
         
        </div>
        <div class="col-lg-4 ">
          <div class="input-group mb-3 d-flex justify-content-center">
            <input [(ngModel)]="selectedSearchValue" type="text" class="form-control text-center pl-2"
              placeholder="      Search Product     " aria-label="search" aria-describedby="button-addon2">
            <button (click)=" applySearch()" class="btn btn-outline-primary rounded-0" type="button"
              id="button-addon2">Search</button>
          </div>
        </div>
        <div class="col-lg-4">
         
        </div>
      </div>
      <!-- Shop sidebar-->
      <div class="col-xl-2 col-lg-3 order-1 order-lg-1">
        <div class="row">
          <div class="col-md-6 col-lg-12">
            <h5 class="mb-4">Product Brands</h5>
            <ul class="list-unstyled text-muted mb-5">
              <li *ngFor="let productBrand of productBrands"
                class="mb-2 d-flex align-items-center justify-content-between">

                <a class="reset-anchor btn" [ngClass]="{'selectedRow': productBrand.id === selectedBrandId}"
                  (click)="onBrandSelected(productBrand.id)">{{productBrand.name}}</a>
              </li>
            </ul>
          </div>
          <div class="col-md-6 col-lg-12">
         
            <h5 class="mb-4">Product Types</h5>
            <ul class="list-unstyled text-muted mb-5">
              <li *ngFor="let productType of productTypes"
                class="mb-2 d-flex align-items-center justify-content-between"><a class="reset-anchor btn"
                  [ngClass]="{'selectedRow': productType.id === selectedTypeId}"
                  (click)="onTypeSelected(productType.id)">{{productType.name}}</a></li>

            </ul>
          </div>
          
        </div>

      </div>
      <!-- Shop listing-->
      <div class="col-xl-10 col-lg-9 order-2 order-lg-2 mb-5 mb-lg-0">
        <!-- Listing filter-->
        <div class="row mb-4 pb-3 align-items-center">
          <div class="col-md-6 text-center text-md-start">
            <p class="small text-muted">Total <strong class="text-dark">{{totalItem}} </strong>items</p>
          </div>
          <div class="col-md-6 text-lg-end">
            <div class="d-flex align-items-center justify-content-center justify-content-md-end">
              <ul class="list-inline mb-0">
                <li class="list-inline-item"><a (click)="clearFilter()" class="btn btn-outline-danger px-2 btn">Clear
                    Filters</a></li>

              </ul>
              <ul class="list-inline mb-0 ms-2">
                <li class="list-inline-item text-start">
                  <select (change)="onSortSelected($event.target)" class="form-select rounded-0"
                    aria-label="Default select example">
                    <option value="name" selected>Alphabetical</option>
                    <option value="priceAsc">Sort - Price Low</option>
                    <option value="priceDesc">Sort - Price High</option>

                  </select>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- Product-->
          <div *ngFor="let product of products" class="col-xl-3 col-lg-4 col-6">
            <app-product-item [product]='product'></app-product-item>
          </div>

          <!-- Pagination-->
          <nav class="pt-2" aria-label="Page navigation">
            <mat-paginator [length]=totalItem+1 [pageSize]=itemPerPage  (page)="applyFilter($event)"
              aria-label="Select page">
            </mat-paginator>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
