 <!-- NAVBAR-->
 <nav class="navbar navbar-expand-lg navbar-light py-2 py-lg-4 bg-white shadow-sm">
    <div class="container">
      <!-- Navbar brand--><a class="navbar-brand" href="index.html"><img src="img/logo.9017d31d.svg" alt="Patrol online store" width="100"></a>
      <!-- Navbar toggler-->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <!-- Navbar collapse-->
      <div class="collapse navbar-collapse d-lg-flex align-items-lg-center justify-content-lg-between" id="navbarSupportedContent">
        <!-- Navbar menu right-->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item me-lg-3"><a class="nav-link text-uppercase active" aria-current="page" href="index.html">Home</a></li>
          <li class="nav-item dropdown me-lg-3"><a class="nav-link text-uppercase dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Pages</a>
            <ul class="dropdown-menu mt-3" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="index.html">Homepage</a></li>
              <li><a class="dropdown-item" href="shop.html">Shop</a></li>
              <li><a class="dropdown-item" href="detail.html">Item details</a></li>
              <li><a class="dropdown-item" href="cart.html">Shopping cart</a></li>
            </ul>
          </li>
          <li class="nav-item me-lg-3"><a class="nav-link text-uppercase" href="shop.html">Shop</a></li>
          <li class="nav-item"><a class="nav-link text-uppercase" href="detail.html">Detail</a></li>
        </ul>
        <!-- Navbar menu left-->
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 flex-row">
          <li class="nav-item me-3"><a class="nav-link text-uppercase position-relative" href="cart.html">
              <svg class="svg-icon svg-icon-sm svg-icon-heavy">
                <use xlink:href="#retail-bag-1"> </use>
              </svg><span class="badge rounded-pill bg-primary">2</span></a></li>
          <li class="nav-item me-3"><a class="nav-link text-uppercase position-relative" href="#"><i class="far fa-heart"></i><span class="badge rounded-pill bg-primary">0</span></a></li>
          <li class="nav-item"><a class="nav-link text-uppercase" href="login.html">
              <svg class="svg-icon svg-icon-sm svg-icon-heavy">
                <use xlink:href="#user-1"> </use>
              </svg></a></li>
        </ul>
      </div>
    </div>
  </nav>