<div class="container">
    <div class="row  rounded-0 p-4 mt-2">
        <div class="col-12 col-lg-12 ">
            <h3> Order Summary</h3>

        </div>
        <div class="col-12 col-lg-6">
            <table class="table table-sm table-responsive mb-4">
                <tbody>

                    <tr>
                        <td>Delivery Charge</td>
                        <td>Rs. {{shippingPrice}}</td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td>Rs. {{subtotal}}</td>
                    </tr>
                    <tr>
                        <td>Order Total</td>
                        <td>Rs. {{total}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>